.FrontPage {
    background-color: #282c34;
    min-height: 100vh;
    display: grid;
    /* grid-template-rows: 100px 800px; */
  }

.FrontPage-text {
    text-align: center;
    color: #e2e2e2;
    height: 5px;
    display: grid;
    font-size: calc(10px + 2vmin);
    margin-top: 20px;
}

.FrontPage-pics {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 20px;
    justify-items: center;
    align-items: center;
}

.FrontPage-pics>img {
    width: 90%;
    max-height: 100%;
    object-fit: cover;
}
